#header-content {
  background-image: url(https://www.gannett-cdn.com/-mm-/3b8b0abcb585d9841e5193c3d072eed1e5ce62bc/c=0-30-580-356/local/-/media/2018/06/17/USATODAY/usatsports/pizza-gettyimages-621463552_large.jpg?width=3200&height=1680&fit=crop);
  background-size: 100%;
  background-repeat: none;
  opacity: 0.95;
  width: 100%;
  padding-bottom: 2%;
  margin-bottom: 0%;
}

#title {
  text-shadow: 3px 3px #a54242;
  text-align: center;
  font-size: 96px;
  font-family: 'Sigmar One', cursive;
  color: white;
  padding-left: 16px;
  margin-top:0px;
  margin-left: 4px;
}

#established {
  text-shadow: none;
  font-size: 32px;
  font-family: 'Bangers', cursive;
  color: white;
  text-align: center;
}

#slogan {
  margin-top:-8px;
  text-shadow: none;
  font-size: 40px;
  font-family: 'Lobster', cursive;
  color: white;
  text-shadow: 1px 1px #a54242;
  text-align: center;
  padding-left: 16px;
}

#top-right {
  background-color: white;
  margin-top: -8px;
  margin-bottom: 1%;
  margin-right: 2%;
  border-radius: 8px;
  float: right;
  padding-bottom: 12px;
}

#top-right img {
  width: 50%;
  height: 50%;
  margin: auto;
  margin-top: 24px;
  margin-bottom: 12px;
  display: block;
}

#header-left {
  margin-top: 39px;
}

.header-info {
  margin: auto;
  display: block;
  font-size: 16px;
  font-family: 'Archivo Narrow', sans-serif;
  text-align: center;
  line-height: 8px;
  color: black;
}

.header-info h6 {
  margin-top: 14px;
  font-size: 28px;
  font-family: 'Alfa Slab One', cursive;
}

#customize {
  text-align: center;
  font-size: 72px;
  font-family: 'Permanent Marker', cursive;
}

#pizza-info {
  display: block;
  margin-top: 3%;
}

.col-md-6 {
  width: 40%;
  margin-left: 5%;
  text-align: center;
}

.col-md-6 label {
  font-size: 16px;
  font-family: 'Archivo Narrow', sans-serif;
}

.col-md-6 h4 {
  font-size: 20px;
  font-family: 'Alfa Slab One', cursive;
}

.col-md-6 button {
  width: 35%;
}

button {
  font-size: 16px;
  font-family: 'Archivo Narrow', sans-serif;
}

#just-checking {
  margin-top: 10%;
}

#user-total {
  text-align: center;
  font-size: 16px;
  font-family: 'Archivo Narrow', sans-serif;
}

#finish-button {
  margin-top: 3%;
}

#final-price {
  text-align: center;
  font-size: 16px;
  font-family: 'Archivo Narrow', sans-serif;
  color: #a54242;
}

.total-top {
  display: none;
}

.total-top h5 {
  font-size: 36px;
  font-family: 'Alfa Slab One', cursive;
  text-align: center;
  margin-bottom: 2%;
}

.order-method {
  display: block;
  width: 50%;
  margin: auto;
  margin-bottom: 5%;
}

.order-method h3 {
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
  margin-bottom: 2%;
}

.delivery-or-pick {
  display: inline-block;
  width: 35%;
  margin: auto;
  margin-left: 7.5%;
  margin-right: 5%;
  margin-top: 2%;
}

.delivery-info {
  width: 50%;
  display: none;
  margin-left: 25%;
  margin-bottom: 5%;
}

.delivery-info h2 {
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
}

.delivery-info label {
  font-size: 16px;
  font-family: 'Archivo Narrow', sans-serif;
}

#delivery-submit{
  width: 35%;
  margin-top: 2%;
  margin-left: 32.5%;
}

.confirm-delivery {
  width: 50%;
  display: none;
  margin-left: 25%;
  margin-bottom: 5%;
}

.confirm-delivery h2 {
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
}

.confirm-delivery p {
  font-size: 16px;
  font-family: 'Archivo Narrow', sans-serif;
}

.pick-up-message {
  display: none;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 5%;
}

.pick-up-message button {
  width: 25%;
  margin-top: 2%;
  margin-bottom: 5%;
}

#final-confirmation{
  width: 35%;
  margin-left: 32.5%;
  margin-bottom: 5%;
}

.final-message{
  display: none;
  text-align: center;
  margin-top: 3%;
}

.final-message button {
  width: 25%;
  margin-top: 2%;
  margin-bottom: 5%;
}

#final-total {
  color: #a54242;
}

body {
  border: 30px solid white;
  background-color: #f2e8e6;
}
